<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PUB0018Soap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxStringContentLength="2147483647" />
                </binding>
                <binding name="PUB0001Soap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxStringContentLength="2147483647" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.3.5.61/csp/hsb/DHC.Published.PUB0018.BS.PUB0018.cls"
                binding="basicHttpBinding" bindingConfiguration="PUB0018Soap"
                contract="ServiceReference1.PUB0018Soap" name="PUB0018Soap" />
            <endpoint address="http://10.3.5.61/csp/hsb/DHC.Published.PUB0001.BS.PUB0001.cls"
                binding="basicHttpBinding" bindingConfiguration="PUB0001Soap"
                contract="ServiceReference2.PUB0001Soap" name="PUB0001Soap" />
        </client>
    </system.serviceModel>
</configuration>