<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
    <appSettings>
        <add key="StartName" value="RestForm.exe"/>
        <add key="SleepTime" value="3000"/>
        <add key="StartHour" value="8"/>
        <add key="EndHour" value="10"/>
    </appSettings>
</configuration>
